@media screen and (max-width: 1116px) {
  .corner-tnw-img {
    display: inline-block;
    width: 114px;
    height: 80px;
    background-image: url("../Images/tnw_navbar.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 5;
  }

  .navbar1 {
    padding-left: 134px;
  }

  .navbar2 {
    padding-left: 0;
  }

  .nv2-img {
    display: inline-block;
    width: 114px;
    height: 48px;
    background-image: url("../Images/tnw_navbar.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .nav2-ul {
    margin-left: 20px;
  }

  .nv2-div-tnw, .nv2-div-clock, .nv2-bttn{
    display: none;
  }

  .navbar3 {
    padding-left: 134px;
  }
 
  .grid-1 {
    height: 366px;
  }

  .grd1-big {
    background: linear-gradient(170deg, transparent, rgba(0, 0, 0, 0.8)), url(../Images/grid1_big_image.jpg);
    padding: 14px;
    position: relative;
  }

  .big-logo-date {
    display: none;
  }

  .big-title {
    /* position: absolute;
    bottom: 47px; */
    font-size: 40px;
    line-height: 43px;
  }

  .grd1-author {
    position: absolute;
    bottom: 14px;
  }
  
  .grd1-side-title {
    font-size: 18px;
    line-height: 21px;
  }

  .to-bottom {
    bottom: 14px;
  }

  .to-bottom .grd1-author {
    position: unset;
  }

  .chair {
    padding: 8px;
    border-radius: unset;
    font-size: 16px;
    color: rgb(255, 255, 255);
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
  
  .chair:hover {
    font-size: 20px;
  }
  
  
  
}

@media screen and (max-width: 990px) {
  .grid-titles-cont {
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
  }

  .funding-info {
    margin-top: 10px;
  }

  .title-option {
    margin-top: 10px;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap: 20px;
    row-gap: 23px;
  }

  .grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .grd3-item4 {
    display: none;
  }

  .grd3-company {
    height: 43px;
  }

  .grid-4 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    column-gap: 20px;
  }

  .grd4-latest-img {
    width: 96px;
    padding-top: 96px;
  }

}

@media screen and (max-width: 856px) {
  .menu-bars {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgb(235,235,235);
  }

  .fa-bars {
    font-size: 16px;
    color: orange;
    padding: 0 16px;
  }

  .nav2-ul {
    display: none;
  }

}

@media screen and (max-width: 790px) {
  .corner-tnw-img {
    display: none;
  }

  .navbar1 {
    display: none;
  }

  .navbar3 {
    height: 60px;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .grid-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    column-gap: 8px;
    row-gap: 8px;
    height: auto;
    margin: 2px 7px 50px;
  }

  .grd1-big {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .big-title {
    bottom: 43px;
    font-size: 20px;
    line-height: 20px;
  }

  .grd1-right-top, .grd1-right-bttm {
    height: 27.36vh;
  }

}

@media screen and (max-width: 738px) {
  .envelope {
    margin-left: 0;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    column-gap: unset;
    row-gap: 13px;
  }

  .grd2-item {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .grd2-img {
    position: absolute;
    top: 0;
    width: 75px;
    padding-top: unset;
    height: 75px;
    display: block;
    margin-bottom: 0;

  }

  .grd2-txt-env {
    margin-left: 88px;
    height: 75px;
  }

  .grd2-txt {
    font-size: inherit;
    font-weight: bolder;
  }

  .grd2-author {
    font-size: 11px;
  }

  .grid-3 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr qfr;
    column-gap: unset;
    row-gap: 16px;
    min-height: 686px;
    max-height: 959px;
  }

  .grid-4 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, auto);
    column-gap: unset;
  }

  .grd4-img {
    width: 100%;
    padding-top: 74.8%;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 14px;
    margin-bottom: 2px;
    position: relative;
  }
  

}
