* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'avalonbold';
  src: url('../Fonts/avalon_bold_webfont/avalon-bold-webfont.woff2') format('woff2'),
       url('../Fonts/avalon_bold_webfont/avalon-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html, body{
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  /* height: 100%; */
}

.colorAAA {
  color: #AAAAAA;
}

/* .flexbox-1 {
  display: flex;
  flex-direction: column;
} */

.corner-tnw-img {
  display: none;
}

.navbar1 {
  display: flex;
  width: 100%;
  height: 32px;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav1-ul {
  display: flex;
  list-style-type: none;
}

.nav1-ul li {
  margin-left: 12px;
}

.nav1-ul a{
  text-decoration: none;
  color: rgb(161, 161, 161); 
  font-size: 13px;
}

.nav1-ul a:hover {
  color: white;
}

#active-link {
  margin-left: 0px; 
}

#active-link a{
  color: white;
}

.navbar2 {
  display: flex;
  width: 100%;
  height: 48px;
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.nv2-ul-container {
  display: flex;
  align-items: center;
}

.nv2-img {
  display: none;
}

.nav2-ul, .funding-info {
  display: flex;
  list-style-type: none;
}

.nav2-ul li {
  margin-right: 24px;
}

.nav2-ul a{
  text-decoration: none;
  font-family: 'Nova Square', cursive;
  font-size: 14px;
}

.nav2-ul a:hover {
  color: black;
}

.nav2-div {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding-right: 7px;
  border-left: 1px solid rgb(235,235,235);
}

.fa-search {
  font-size: 16px;
  color: rgb(189, 189, 189);
  padding: 0 16px;
}

.fa-search:hover {
  color: rgb(127,127,127);
  cursor: pointer;
}

.nv2-div-tnw {
  width: 125px;
  height: auto;
  overflow: hidden;
}

.nv2-div-clock {
  font-family: 'Nova Square', cursive;
  font-size: 20px;
  color: red;
  font-weight: 600;
}

.nv2-bttn {
  display: flex;
  background-color: rgb(0,204,204); 
  border-radius: 3px;
  margin-left: 16px;
}

.nv2-bttn:hover {
  background-color: rgb(153,0,204);
  cursor: pointer;
}

.nv2-bttn span {
  font-size: 11px;
  font-weight: bold;
  padding: 8px 12px;
  color: white;
}

.menu-bars {
  display: none;
}

.navbar3 {
  display: flex;
  height: 29.6px;
  position: sticky;
  top: 48px;
  align-items: center;
  padding-left: 20px;
  background-color: rgb(255,221,51);
  cursor: pointer;
  z-index: 4;
}

.navbar3  span {
  font-size: 13px;
  font-weight: lighter;
}

.grid-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 8px;
  row-gap: 8px;
  height: 75vh;
  max-height: 560px;
  margin: 2px 7px 50px;
}

.grd1-big {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(170deg, rgb(255, 90, 13), rgba(255, 65, 13, 0.762), transparent, rgb(0, 0, 0, 0.762),  rgb(0, 0, 0)), url(../Images/grid1_big_image.jpg);
  padding: 20px;
}

.big-logo-date {
  display: flex;
  height: 117px;
  justify-content: space-between;
  /* margin-bottom: 235px; */
}

.big-tnw{
  width: 50%;
  height: auto;
}

.big-date {
  color: rgb(255, 255, 255);
}

.big-title {
  color: rgb(255, 255, 255);
  font-family: 'avalonbold';
  font-weight: bolder;
  font-size: 50px;
  line-height: 53px;
}

.grd1-author {
  display: flex;
  font-size: 12px;
  color: hsla(0, 0%, 100%,.6);
  margin-top: 17px;
}

.grd1-author span a:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.grd1-author span, i {
  margin-right: 5px;
}

.fa-clock, .fa-share-alt {
  font-size: 16px;
}

.grid1-side {
  display: flex;
  flex-direction: column;
  padding: 14px;
  position: relative;
}

.grd1-right-top {
  background: linear-gradient(170deg, transparent, rgb(0, 0, 0)), url(../Images/grid1_top_right_image.jpg);
}

.grd1-right-bttm {
  background: linear-gradient(170deg, transparent, rgb(0, 0, 0)), url(../Images/grid1_bottom_right_image.jpg);
}

.grd1-side-title {
  color: rgb(255, 255, 255);
  font-family: 'avalonbold';
  font-weight: bolder;
  font-size: 25px;
  line-height: 28px;
}

.to-bottom {
  position: absolute;
  bottom: 21px;
}

.site-section {
  font-family: 'Rajdhani', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.grd1-bckg-algn {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.envelope {
  max-width: 1192px;
  margin: 0 auto;
  padding: 0 20px;
}

.grid-titles-cont {
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
  align-items: center;
}

.tnw-titles {
  display: inline-flex;
  font-family: 'avalonbold';
  font-size: 18px;
  font-weight: bolder;  
  color: rgb(255,68,34);  
}

.tnw-titles i {
  font-size: 18px;
}

.tnw-titles:hover {
  color: rgb(0, 0, 0);
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  column-gap: 25px;
  row-gap: 27px;
  margin-bottom: 70px;
}

.grd2-item {
  display: flex;
  flex-direction: column;
}

.im-url1 {
  background-image: url(../Images/grd2_img1.jpg);
}

.im-url2 {
  background-image: url(../Images/grd2_img2.png);
}

.im-url3 {
  background-image: url(../Images/grd2_img3.jpg);
}

.im-url4 {
  background-image: url(../Images/grd2_img4.jpg);
}

.im-url5 {
  background-image: url(../Images/grd2_img5.jpg);
}

.im-url6 {
  background-image: url(../Images/grd2_img6.png);
}

.im-url7 {
  background-image: url(../Images/grd2_img7.jpg);
}

.im-url8 {
  background-image: url(../Images/grd2_img8.png);
}

.grd2-img {
  width: 100%;
  padding-top: 50%;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 8px;
}

.grd2-txt-env {
  display: flex;
  flex-direction: column;
}

.grd2-txt {
  font-size: 16px;
  font-weight: bolder;
}

.grd2-txt:hover{
  color: rgb(255,68,34);
  cursor: pointer;
}

.grd2-author {
  font-size: 13px;
  margin-top: 6px;
}

.info1 {
  margin-right: 22px;
}

.info2 {
  padding: 0;
}

.info3 {
  margin-left: 22px;
}

.title-option-funding::before {
  position: relative;
  right: 11px;
  content: "|";
}
.title-option-funding {
  font-size: 16px;
  color: rgb(255,68,34);
}

.title-option-funding::after {
  position: relative;
  left: 11px;
  content: "|";
}

.title-option-funding:hover {
  color: rgb(0, 0, 0);
}

.title-option {
  font-size: 16px;
  color: rgb(255,68,34);
}

.title-option:hover {
  color: rgb(0, 0, 0);
}
